html, body {
	height: 100%;
}

body {
	margin: 0px;
	padding: 0px;
	background: #bdc3c7;
	font-family: 'Open Sans', sans-serif;
	font-size: 10pt;
	color: #747474;
}

h1, h2, h3 {
	margin: 0;
	padding: 0;
}

p, ol, ul {
	margin-top: 0px;
}

p {
	line-height: 180%;
}

a {
	color: #706C53;
}

a:hover {
	text-decoration: none;
}

a img {
	border: none;
}

img.alignleft {
	float: left;
}

img.alignright {
	float: right;
}

img.aligncenter {
	margin: 0px auto;
}

hr {
	display: none;
}

ul.style1
{
	margin: 0;
	padding: 0;
	list-style: none;
}

ul.style1 li
{
	padding: 15px 0px 15px 0px;
	border-top: 1px solid #34495e;
}

ul.style1 a
{
	color: white;
}

ul.style1 .first
{
	padding-top: 0;
	border-top: none;
}

/** WRAPPER */


.container {
	width: 1200px;
	margin: 0px auto;
}

.clearfix {
	clear: both;
}

/* Header */

#header-wrapper {
	overflow: hidden;
	height: 600px;
}

#header {
	width: 960px;
	height: 200px;
	margin: 0 auto;
	padding: 0px 20px;
}

/* Logo */

#logo {
	overflow: hidden;
	padding: 3em 0em;
}

#logo h1, #logo p {
	text-align: center;
}

#logo h1 {
	padding: 0px 0px 0px 0px;
	text-transform: lowercase;
	font-size: 4em;
	font-weight: 600;
	color: white;
}

#logo p {
	margin-top: -20px;
	padding: 0px 0px 0px 5px;
	font-size: 20px;
	font-weight: 300;
	color: white;
}

#logo p a {
	color: white;
}

#logo a {
	border: none;
	background: none;
	text-decoration: none;
	color: white;
}

/* Menu */


#menu {

	overflow: hidden;
	height: 52px;
}

#menu ul {
	margin: 0;
	padding: 0px 0px 0px 0px;
	list-style: none;
	line-height: normal;
	text-align: center;
}

#menu li {
	display: inline-block;
}

#menu a {
	cursor: pointer;
	display: block;
	padding: 0px 30px;
	line-height: 52px;
	border: none;
	text-decoration: none;
	text-transform: lowercase;
	text-align: center;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 300;
	color: white;
}

#menu a:hover, #menu .current_page_item a {
	text-decoration: none;
	color: #706C53;
}

#page {
	margin-top:50px;
	overflow: hidden;
	width: 1100px;
	margin-bottom: 3em;
	padding: 5em 50px;
	background: #FFF;
	border: 1px solid white;
}
.null{

}
#page h2 a
{
	letter-spacing: -2px;
	text-decoration: none;
	font-size: 1.7em;
	font-weight: 400;
	color: white;
}

.text-body
{
	width: 850px;
	margin-right: auto;
	margin-left: auto;
	margin-top:0px;
	margin-bottom:0px;
	font-size: 1.8em;
}

.invisible
{
	display:none;
}

/** CONTENT */


#footer p {
	text-align: center;
}

#footer a {
	text-decoration: none;
	color: black;
}

#footer a:hover{
	text-decoration: none;
	color: #706C53;
}